In [2]:
!mkdir data
%cd data

!gdown 13tJBKbCXP3MKKFe_tbso7YyXsH3c7PX1

%cd ..

d:\AIVietNam\2024\aio-2024-hw\module-3\08_09_2024_M03EX04\data

A subdirectory or file data already exists.

d:\AIVietNam\2024\aio-2024-hw\module-3\08_09_2024_M03EX04

Downloading...
From: https://drive.google.com/uc?id=13tJBKbCXP3MKKFe_tbso7YyXsH3c7PX1
To: d:\AIVietNam\2024\aio-2024-hw\module-3\08_09_2024_M03EX04\data\Housing.csv

  0%|          | 0.00/30.0k [00:00<?, ?B/s]
100%|██████████| 30.0k/30.0k [00:00<00:00, 628kB/s]

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error

df = pd.read_csv('data/Housing.csv')
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [5]:
categorical_cols = df.select_dtypes(include=['object']).columns.to_list()
categorical_cols

['mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'prefarea',
 'furnishingstatus']

In [6]:
ordinal_encoder = OrdinalEncoder()
encoded_categorical_cols = ordinal_encoder.fit_transform(df[categorical_cols])
encoded_categorical_df = pd.DataFrame(
    encoded_categorical_cols,
    columns=categorical_cols
)
numerical_df = df.drop(categorical_cols, axis=1)
encoded_df = pd.concat([numerical_df, encoded_categorical_df], axis=1)
encoded_df.head()

      price  area  bedrooms  ...  airconditioning  prefarea  furnishingstatus
0  13300000  7420         4  ...              1.0       1.0               0.0
1  12250000  8960         4  ...              1.0       0.0               0.0
2  12250000  9960         3  ...              0.0       1.0               1.0
3  12215000  7500         4  ...              1.0       1.0               0.0
4  11410000  7420         4  ...              1.0       0.0               0.0

[5 rows x 13 columns]

In [7]:
normalizer = StandardScaler()
dataset_arr = normalizer.fit_transform(encoded_df)
dataset_arr

array([[ 4.56636513,  1.04672629,  1.40341936, ...,  1.4726183 ,
         1.80494113, -1.40628573],
       [ 4.00448405,  1.75700953,  1.40341936, ...,  1.4726183 ,
        -0.55403469, -1.40628573],
       [ 4.00448405,  2.21823241,  0.04727831, ..., -0.67906259,
         1.80494113, -0.09166185],
       ...,
       [-1.61432675, -0.70592066, -1.30886273, ..., -0.67906259,
        -0.55403469,  1.22296203],
       [-1.61432675, -1.03338891,  0.04727831, ..., -0.67906259,
        -0.55403469, -1.40628573],
       [-1.61432675, -0.5998394 ,  0.04727831, ..., -0.67906259,
        -0.55403469,  1.22296203]], shape=(545, 13))

In [8]:
X, y = dataset_arr[:, :-1], dataset_arr[:, -1]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, shuffle=True
)

dt_regressor = DecisionTreeRegressor(random_state=42)
dt_regressor.fit(X_train, y_train)

y_pred = dt_regressor.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f"MAE: {mae}")
print(f"MSE: {mse}")

MAE: 1.066127904347939
MSE: 1.991686553591241

In [10]:
from sklearn.ensemble import AdaBoostRegressor

ab_regressor = AdaBoostRegressor(
    random_state=42
)
ab_regressor.fit(X_train, y_train)

y_pred = ab_regressor.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f"MAE: {mae}")
print(f"MSE: {mse}")

MAE: 0.7932706002727513
MSE: 0.9665671301368806

In [11]:
from sklearn.ensemble import GradientBoostingRegressor

gb_regressor = GradientBoostingRegressor(
    random_state=42
)
gb_regressor.fit(X_train, y_train)

y_pred = gb_regressor.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f"MAE: {mae}")
print(f"MSE: {mse}")

MAE: 0.8146926601454398
MSE: 1.0368121155510979